{% extends 'base.html' %}

{% block app_content %}
    <body>
  	    <canvas id="attendance-chart" width="800px" height="800px"></canvas>

   	    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js'></script>

   	    <script type="text/javascript">
   	     student_n = {"1": 17.4165997505188, "2": 25.916599214077, "3": 0.0, "4": 15.5500001907349, "5": 0.802392495997935, "6": 0.750001207427209, "7": 24.1833000183105, "8": 0.0, "9": 25.9165992736816, "10": 0.843154666541869, "11": 1.0, "12": 19.0333003997803, "13": 0.516600012779236, "14": 31.5333995819092, "15": 0.893349286583069, "16": 0.545013149289319, "17": 27.3999996185303, "18": 0.366600006818771, "19": 13.6999998092651, "20": 0.869105685822673, "21": 1.0, "22": 34.25, "23": 11.1000003814697, "24": 8.5, "25": 0.876179557360046, "26": 1.0, "27": 20.5499992370605, "28": 0.0, "29": 19.5666999816895, "30": 0.894822583337532, "31": 0.597209955023419, "32": 34.25, "33": 0.466600000858307, "34": 34.25, "35": 0.894854384197006, "36": 0.0, "37": 34.25}
   	     new Chart(document.getElementById("attendance-chart"), {
		         type: 'line',
		         data: {
		             labels: Object.keys(student_n),
		             datasets: [{ 
		                 data: Object.values(student_n),
		                 label: "Student n",
		                 borderColor: "#3e95cd",
		                 fill: false,
		             }
		             ]
		         },
		         options: {
		             title: {
		                 display: true,
		                 text: 'Attendance Totals for Student n.'
		             }, 
		             responsive: false,
		             scales: { 
			               yAxes: [{
			        	         scaleLabel: { 
			        		           display: true, 
			        		           labelString: 'Attendance Total'
			        	         }
			               }], 
		                 xAxes: [{
		        	           scaleLabel: { 
		        		             display: true, 
		        		             labelString: 'Week'
		        	           }
		                 }]
		             }
		         }
		     });
   	    </script>
    </body>
{% endblock %}