{% extends 'base.html' %}

{% block content %}
    <h1>edit profile</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br/>
            {{ form.username(size=32) }}<br/>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.role.label }}<br/>
            {{ form.role(size=60) }}<br/>
            {% for error in form.role.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.school.label }}<br/>
            {{ form.school(size=120) }}<br/>
            {% for error in form.school.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br/>
            {{ form.about(col=60, rows=5) }}<br/>
            {% for error in form.about.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    
{% endblock %}