{% extends 'base.html' %}

{% block content %}

    <h1>user: {{ user.username }}</h1>
    <hr/>
    {% for post in posts %}

        <p>
            {{ post.author.username }} posted: <b>{{ post.body }}</b>
        </p>

    {% endfor %}
    <p>tabularius posted:
        <b>
            I hope you will find your experience with tabularius both satisfactory and beneficial to your classroom's development.
        </b>
    </p>
    <p>tabularius posted:
        <b>
            Hello! This is a demonstration post. You can make one just like it to share updates about your classroom.
        </b>
    </p>

{% endblock %}